<h1>Servicios</h1>
<hr>
<form name="servicioForm" novalidate ng-submit="addServicio()">
  <div class="form-group"
      ng-class="{'has-error': servicioForm.content.$invalid
        && servicioForm.nombre.$dirty}">
    <input type="text" class="form-control focus" name="nombre"
        placeholder="Nombre Servicio" autocomplete="off" required
        ng-model="newServicio.nombre">
    <span class="has-error control-label" ng-show="
        servicioForm.nombre.$invalid && servicioForm.nombre.$dirty">
      Servicio debe tener un nombre.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="ServicioForm.$invalid">Agregar</button>
</form>
<hr>
<div class="list-group">
  <a class="list-group-item" ng-repeat="servicio in servicios">{{servicio.nombre}}&nbsp;
    <i class="glyphicon glyphicon-remove pull-right"
        ng-click="removeServicio(servicio)"></i></a>
</div>
